<!-- <p>
  <%#= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %>
  Copyright <%#= Time.now.year %>, <a href="https://www.citizensstatebank.us/personal-banking/get-more-checking">Get More Checking&trade; - Citizens State Bank</a>  
       
</p> -->

<div class="container">
	<div class="row">
		<div class="col-md-8 footer">
			<p class="text-left">Copyright &copy; <%= Time.now.year %> <a href="https://www.citizensstatebank.us/personal-banking/get-more-checking">Get More Checking&trade; - Citizens State Bank</a></p>     
		</div>
		<div class="col-md-4 footer">
			<p class="text-right"><a href="https://www.citizensstatebank.us/privacy-policy" target="_blank">Privacy Policy</a></p>
		</div>
	</div>
</div>
