<p>
  <%#= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %>
  Copyright <%= Time.now.year %>, <a href="https://www.citizensstatebank.us/personal-banking/get-more-checking">Get More Checking&trade; - Citizens State Bank</a>  
       
</p>
