#smiley-face {
	background-image:url(/assets/Emoji-Person-2.jpg);
	background-size: cover;
	padding:40px 40px;
	background-repeat: no-repeat;
	background-position:  -790px 0px;
}

#bubble {
	background-image:url(/assets/Speech-Bubble---Narrow.png);
	padding:20px 20px 40px 50px;
	background-size: 100%;


	background-repeat: no-repeat;
	margin-top:120px;
	.lead {
		font-family: 'Helvetica', sans-serif;
		color:#ffffff;
		font-weight:700;
		font-size:99%;
	}
}

.checkings {
	label {
		font-weight:700;
		/*color:#f68d2d;*/
		/*color:#31903a;*/

	}
}